<%-include('../partials/header')%> <%-include('../partials/navbar')%>
<%-include('../partials/flash')%>

  <div class="row" style="margin-top: 80px; margin-left: 30%;">
     <h2>Payment Completed Successfully</h2>
     <a href="/products"><button class="bg-success text-white ">Go to products</button></a>
    </div>


<%-include('../partials/footer')%>